/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 1, ../sass/_base.scss */
html, body {
  background: #333;
  color: #aaa;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  margin: 0;
  padding: 0; }

/* line 10, ../sass/_base.scss */
ol, ul {
  list-style: none;
  padding: 0;
  margin: 0; }

/* line 15, ../sass/_base.scss */
li {
  margin: 0;
  padding: 0; }

/* line 21, ../sass/_base.scss */
.sectionHeader {
  border-top: 1px solid #444;
  margin-top: 58px; }

/* line 26, ../sass/_base.scss */
.sectionLabel {
  background: #333;
  border: 5px solid #444;
  color: #888;
  font-size: 14px;
  font-weight: 300;
  margin: -18px auto 0;
  max-width: 130px;
  padding: 4px 0;
  text-align: center;
  text-transform: uppercase;
  width: 100%; }

/* line 41, ../sass/_base.scss */
.goalsList {
  margin: 10px auto;
  max-width: 660px;
  width: 100%; }

/* line 46, ../sass/_base.scss */
.goal {
  background: #333;
  line-height: 24px;
  font-size: 16px;
  padding: 20px 30px;
  transition: background-color .2s ease-in-out, color .2s ease-in-out; }
  /* line 53, ../sass/_base.scss */
  .goal.current {
    color: #ccc;
    font-size: 36px;
    line-height: 42px; }
  /* line 59, ../sass/_base.scss */
  .goal:hover {
    background: #383838;
    color: #ccc; }
  /* line 64, ../sass/_base.scss */
  .goal p {
    margin: 0; }

/* line 69, ../sass/_base.scss */
.goalActions {
  font-size: 24px;
  line-height: 1;
  margin: 20px 0 0;
  padding: 0; }
