// Since their are not very many styles required at the moment, most styles are here. (Will split as needed.)

html, body{
  background: #333;
  color: #aaa;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  margin: 0;
  padding: 0;
}

body{
  padding-bottom: 150px;
}

ol, ul{
  list-style: none;
  padding: 0;
  margin: 0;
}
li{
  margin: 0;
  padding: 0;
}

a{
  color: #aaa;
  text-decoration: none;
}

:focus{
  outline: none;
}

// Icons
[class*="icon-"]{
  display: inline-block;
  height: 40px;
  overflow: hidden;
  position: relative;
  text-indent: 100%;
  white-space: nowrap;
  width: 40px;
}
[class*="icon-"]:before{
  display: block;
  font-size: 26px;
  height: 26px;
  line-height: 1;
  position: absolute;
  right: 0;
  text-align: center;
  text-indent: 0;
  top: 7px;
  width: 40px;
}

// Section labels
.sectionHeader{
  border-top: 1px solid #444;
  margin-top: 58px;
}

.sectionLabel{
  background: #333;
  border: 5px solid #444;
  color: #888;
  font-size: 14px;
  font-weight: 300;
  margin: -18px auto 0;
  max-width: 130px;
  padding: 4px 0;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
}

// Goals
.goalsList{
  margin: 10px auto;
  max-width: 660px;
  width: 100%;
}
.goal{
  background: #333;
  box-shadow: 2px 2px 0 #333;
  line-height: 24px;
  font-size: 16px;
  margin: 5px 0;
  padding: 20px 30px;
  transition: all .2s ease-in-out;

  &.current{
    color: #ccc;
    font-size: 36px;
    line-height: 42px;

    &:hover, &.focus{
      color: #eee;
    }
  }

  &:hover, &.focus{
    background: lighten(#333, 2%);
    box-shadow: 2px 2px 0 darken(#333, 2%);
    color: #eee;
  }

  p{
    margin: 0;
  }
}
.goalContent{
  color: inherit;
  cursor: text;
  font-size: inherit;
  line-height: inherit;
}

// Goals menu
.goalActions{
  font-size: 24px;
  line-height: 1;
  margin: 20px 0 0;
  padding: 0;
  @include self-clear;
}
.goalActionsList{
  clear: both;
  float: right;
}
.goalAction{
  float: left;

  > a{
    color: #777;
    transition: color .2s ease-in-out;

    &:hover, &:focus{
      color: #eee;
    }
  }
}

// Goal & Edit menus hidden
.editMenu, .goalMenu{
  height: 0;
  overflow: hidden;
}


// Display of menus
.focus{
// Reveal edit menu when editing goal
  & .editMenu{
    height: auto;
  }

// Hide actions menu when editing goal 
  & .goalMenu{
    height: 0;
  }
}

// Goal menu shown if it's the current goal or a future goal is being hovered on
.current.goal .goalMenu, .goal:hover .goalMenu{
  height: auto;
}

// Goal menu override for hover
.goal.focus:hover .goalMenu{
  height: 0;
}

// Site header
#siteHeader{
  bottom: 0;
  background: #333;
  border-top: 1px solid #444;
  // box-shadow: 0px 0 20px rgba(0,0,0,.1);
  color: #333;
  padding: 10px 0;
  position: fixed;
  width: 100%;
  z-index: 99;
}