// Since their are not very many styles required at the moment, most styles are here. (Will split as needed.)

html, body{
  background: $colorBackground;
  color: $colorText;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  margin: 0;
  padding: 0;
}

textarea, button{
  border: none;
  background: transparent;
  color: inherit;
  font: inherit;
}

body{
  padding-bottom: 120px;
}

ol, ul{
  list-style: none;
  padding: 0;
  margin: 0;
}
li{
  margin: 0;
  padding: 0;
}

a{
  color: $colorText;
  text-decoration: none;
}

:focus{
  outline: none;
}

// Site header
#siteHeader{
  bottom: 0;
  background: lighten($colorBackground, 5%);
  border-top: 1px solid $colorBackground;
  color: $colorText;
  height: 40px;
  padding: 10px 0;
  position: fixed;
  width: 100%;
  z-index: 99;
}
.addGoal{
  display: inline-block;
  height: 40px;
  line-height: 36px;
  vertical-align: top;
}

// Navigation
.applicationNav{
  box-sizing: border-box;
  padding: 2px 10px 0;
  margin: 0 auto;
  max-width: 670px;
  width: 100%;
  a{
    transition: color .2s ease-in-out;

    &:hover, &:focus{
      color: $colorTextHighlight;
    }
  }
}
.horizontalNav{
  margin: 0;
  padding: 0;

  > li{
    float: left;
  }

  &.right{
    float: right;
  }
}

// Accomplised goals count
.goalsAccomplished{
  display: inline-block;
  position: relative;
  border: 1px solid lighten($colorBackground, 15%);
  border-left: none;
  margin: 10px 10px 0 25px;
  padding: 2px 8px 2px 16px;
  position: relative;
  top: -5px;

  .icon-Award{
    position: absolute;
    left: -25px;
    top: -12px;

    &:before{
      font-size: 44px;
    }
  }
}

// Icons
[class*="icon-"]{
  display: inline-block;
  height: 40px;
  overflow: hidden;
  position: relative;
  text-indent: 100%;
  white-space: nowrap;
  width: 40px;
}
[class*="icon-"]:before{
  display: block;
  font-size: 26px;
  height: 26px;
  line-height: 1;
  position: absolute;
  right: 0;
  text-align: center;
  text-indent: 0;
  top: 7px;
  width: 40px;
}

// Section labels
.sectionHeader{
  border-top: 1px solid lighten($colorBackground, 4%);
  margin-top: 58px;
}

.sectionLabel{
  background: $colorBackground;
  border: 5px solid lighten($colorBackground, 4%);
  color: lighten($colorBackground, 30%);
  font-size: 14px;
  font-weight: 300;
  margin: -18px auto 0;
  max-width: 130px;
  padding: 4px 0;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
}

// Goals
.goalsList{
  margin: 10px auto;
  max-width: 700px;
  width: 100%;
}
.goal{ 
  // I don't like the drag indictators, I'll fix them later.
  // background: $colorBackground url("../img/drag-indicators.svg") no-repeat -8px 200%;
  // background-size: 4px 80px;
  box-shadow: 2px 2px 0 $colorBackground;
  line-height: 24px;
  font-size: 16px;
  margin: 5px 0;
  padding: 20px 30px 0;
  transition: all .2s ease-in-out;

  &.current{
    color: darken($colorTextHighlight, 10%);
    font-size: 36px;
    line-height: 42px;

    &:hover, &.focus{
      color: $colorTextHighlight;
    }
  }

  &.form{
    background: lighten($colorBackground, 4%);
    color: $colorTextHighlight;
  }

  &:hover, &.focus{
    background-color: lighten($colorBackground, 4%);
    box-shadow: 2px 2px 0 darken($colorBackground, 2%);
    color: $colorTextHighlight;
  }

  p{
    margin: 0;
  }

  &[draggable]{
    cursor: move;
    -moz-user-select: none;
    user-select: none;
    -webkit-user-drag: element;
    user-drag: element;

    // &:hover{
      // I don't like the drag indictators, I'll fix them later.
      // background-position: 18px bottom;
      // background-repeat: no-repeat;
    // }
  }
}

.goalContent{
  border: 1px solid transparent;
  color: inherit;
  cursor: text;
  display:block;
  font-size: inherit;
  left: -11px;
  line-height: inherit;
  padding: 10px 10px;
  position: relative;
  transition: border-color .2s ease-in-out;
  -webkit-appearance: none;
  width: 100%;

  &:hover{
    border-color:lighten($colorBackground, 10%);
  }

  .focus &, &:focus, &:hover:focus{
    border-color:lighten($colorBackground, 30%);
    color: $colorTextHighlight;
  }
  
  &.large{
    font-size: 24px;
    line-height: 32px;
  }
}

// Goal action menus
.goalActions{
  font-size: 24px;
  line-height: 1;
  margin: 20px 0 0;
  @include self-clear;
}
.goalActionsList{
  clear: both;
  float: right;
}
.goalAction{
  float: left;

  > a{
    color: lighten($colorBackground, 20%);
    transition: color .2s ease-in-out;

    &:hover, &:focus{
      color: $colorTextHighlight;
    }
  }
}

// Goal & Edit menus hidden
.editMenu, .goalMenu{
  @include menu-hidden;
  overflow: hidden;
}


// Display of menus
.focus{
// Reveal edit menu when editing goal
  & .editMenu{
    @include menu-revealed;
  }

// Hide actions menu when editing goal 
  & .goalMenu{
    @include menu-hidden;
  }
}

// Goal menu shown if it's the current goal or a future goal is being hovered on
.current.goal .goalMenu, .goal:hover .goalMenu{
  @include menu-revealed;
}

// Goal menu override for hover
.goal.focus:hover .goalMenu, .current.goal.focus .goalMenu{
  @include menu-hidden;
}


// New Goal form
.modalWrap{
  background: rgba(0,0,0,.7);
  height: 100%;
  left: 0;
  opacity: 1;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
  transition-delay: .1s;
  transition: opacity .3s ease-in-out;
  visibility: visible;

  &.hidden{
    opacity: 0;
    visibility: hidden;

    .goalFormWrapper{
      top: -200px;
    }
  }
}
.goalFormWrapper{
  margin: 0 auto;
  position: relative;
  transition: top .3s ease-in-out;
  top: 0;
  max-width: 780px;
  visibility: visible;
  width: 100%;
}
.goal.form{
  box-shadow: none;
  margin-top:0;
  padding: 40px 60px 20px 60px;

  .goalContent{
    border-color:lighten($colorBackground, 10%);

    &:hover{
      border-color:lighten($colorBackground, 18%);
    }

    &:focus, &:hover:focus{
      border-color:lighten($colorBackground, 30%);
    }
  }
}
