/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot");
  src: url("../fonts/icomoon.eot?#iefix") format("embedded-opentype"), url("../fonts/icomoon.woff") format("woff"), url("../fonts/icomoon.ttf") format("truetype"), url("../fonts/icomoon.svg#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }

/* Use the following CSS code if you want to use data attributes for inserting your icons */
/* line 13, ../../sass/_fonts.scss */
[data-icon]:before {
  font-family: 'icomoon';
  content: attr(data-icon);
  speak: none;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased; }

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="icon-"] {
*/
/* line 30, ../../sass/_fonts.scss */
[class*="icon-"] {
  font-family: 'icomoon';
  font-style: inherit;
  font-weight: inherit;
  font-variant: inherit;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased; }

/* line 40, ../../sass/_fonts.scss */
.icon-Trash:before {
  content: "\e0d0"; }

/* line 43, ../../sass/_fonts.scss */
.icon-Accept:before {
  content: "\2713"; }

/* line 46, ../../sass/_fonts.scss */
.icon-Edit:before {
  content: "\e000"; }

/* line 49, ../../sass/_fonts.scss */
.icon-Grid:before {
  content: "\e9a0"; }

/* line 52, ../../sass/_fonts.scss */
.icon-Exit:before {
  content: "\2421"; }

/* line 55, ../../sass/_fonts.scss */
.icon-Award:before {
  content: "\e1c0"; }

/* line 58, ../../sass/_fonts.scss */
.icon-Cancel:before {
  content: "\e001"; }

/* line 61, ../../sass/_fonts.scss */
.icon-Settings:before {
  content: "\2699"; }

/* line 64, ../../sass/_fonts.scss */
.icon-Plus:before {
  content: "\2b"; }

/* line 3, ../../sass/_base.scss */
html, body {
  background: #333333;
  color: #aaaaaa;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  margin: 0;
  padding: 0; }

/* line 12, ../../sass/_base.scss */
textarea, button {
  border: none;
  background: transparent;
  color: inherit;
  font: inherit; }

/* line 19, ../../sass/_base.scss */
body {
  padding-bottom: 120px; }

/* line 23, ../../sass/_base.scss */
ol, ul {
  list-style: none;
  padding: 0;
  margin: 0; }

/* line 28, ../../sass/_base.scss */
li {
  margin: 0;
  padding: 0; }

/* line 33, ../../sass/_base.scss */
a {
  color: #aaaaaa;
  text-decoration: none; }

/* line 38, ../../sass/_base.scss */
:focus {
  outline: none; }

/* line 43, ../../sass/_base.scss */
#siteHeader {
  bottom: 0;
  background: #404040;
  border-top: 1px solid #333333;
  color: #aaaaaa;
  height: 40px;
  padding: 10px 0;
  position: fixed;
  width: 100%;
  z-index: 99; }

/* line 54, ../../sass/_base.scss */
.addGoal {
  display: inline-block;
  height: 40px;
  line-height: 36px;
  vertical-align: top; }

/* line 62, ../../sass/_base.scss */
.applicationNav {
  box-sizing: border-box;
  padding: 2px 10px 0;
  margin: 0 auto;
  max-width: 670px;
  width: 100%; }
  /* line 68, ../../sass/_base.scss */
  .applicationNav a {
    transition: color .2s ease-in-out; }
    /* line 71, ../../sass/_base.scss */
    .applicationNav a:hover, .applicationNav a:focus {
      color: #eeeeee; }

/* line 76, ../../sass/_base.scss */
.horizontalNav {
  margin: 0;
  padding: 0; }
  /* line 80, ../../sass/_base.scss */
  .horizontalNav > li {
    float: left; }
  /* line 84, ../../sass/_base.scss */
  .horizontalNav.right {
    float: right; }

/* line 90, ../../sass/_base.scss */
.goalsAccomplished {
  display: inline-block;
  position: relative;
  border: 1px solid #595959;
  border-left: none;
  margin: 10px 10px 0 25px;
  padding: 2px 8px 2px 16px;
  position: relative;
  top: -5px; }
  /* line 100, ../../sass/_base.scss */
  .goalsAccomplished .icon-Award {
    position: absolute;
    left: -25px;
    top: -12px; }
    /* line 105, ../../sass/_base.scss */
    .goalsAccomplished .icon-Award:before {
      font-size: 44px; }

/* line 112, ../../sass/_base.scss */
[class*="icon-"] {
  display: inline-block;
  height: 40px;
  overflow: hidden;
  position: relative;
  text-indent: 100%;
  white-space: nowrap;
  width: 40px; }

/* line 121, ../../sass/_base.scss */
[class*="icon-"]:before {
  display: block;
  font-size: 26px;
  height: 26px;
  line-height: 1;
  position: absolute;
  right: 0;
  text-align: center;
  text-indent: 0;
  top: 7px;
  width: 40px; }

/* line 135, ../../sass/_base.scss */
.sectionHeader {
  border-top: 1px solid #3d3d3d;
  margin-top: 58px; }

/* line 140, ../../sass/_base.scss */
.sectionLabel {
  background: #333333;
  border: 5px solid #3d3d3d;
  color: gray;
  font-size: 14px;
  font-weight: 300;
  margin: -18px auto 0;
  max-width: 130px;
  padding: 4px 0;
  text-align: center;
  text-transform: uppercase;
  width: 100%; }

/* line 155, ../../sass/_base.scss */
.goalsList {
  margin: 10px auto;
  max-width: 700px;
  width: 100%; }

/* line 160, ../../sass/_base.scss */
.goal {
  background: #333333;
  box-shadow: 2px 2px 0 #333333;
  line-height: 24px;
  font-size: 16px;
  margin: 5px 0;
  padding: 20px 30px 0;
  transition: all .2s ease-in-out; }
  /* line 169, ../../sass/_base.scss */
  .goal.current {
    color: #d4d4d4;
    font-size: 36px;
    line-height: 42px; }
    /* line 174, ../../sass/_base.scss */
    .goal.current:hover, .goal.current.focus {
      color: #eeeeee; }
  /* line 179, ../../sass/_base.scss */
  .goal.form {
    background: #3d3d3d;
    color: #eeeeee; }
  /* line 184, ../../sass/_base.scss */
  .goal:hover, .goal.focus {
    background: #3d3d3d;
    box-shadow: 2px 2px 0 #2e2e2e;
    color: #eeeeee; }
  /* line 190, ../../sass/_base.scss */
  .goal p {
    margin: 0; }

/* line 194, ../../sass/_base.scss */
.goalContent {
  border: 1px solid transparent;
  color: inherit;
  cursor: text;
  display: block;
  font-size: inherit;
  left: -11px;
  line-height: inherit;
  padding: 10px 10px;
  position: relative;
  transition: border-color .2s ease-in-out;
  -webkit-appearance: none;
  width: 100%; }
  /* line 208, ../../sass/_base.scss */
  .goalContent:hover {
    border-color: #4d4d4d; }
  /* line 212, ../../sass/_base.scss */
  .focus .goalContent, .goalContent:focus, .goalContent:hover:focus {
    border-color: gray;
    color: #eeeeee; }
  /* line 217, ../../sass/_base.scss */
  .goalContent.large {
    font-size: 24px;
    line-height: 32px; }

/* line 224, ../../sass/_base.scss */
.goalActions {
  font-size: 24px;
  line-height: 1;
  margin: 20px 0 0; }
  /* line 2, ../../sass/_mixins.scss */
  .goalActions:after, .goalActions:before {
    content: "";
    display: table; }
  /* line 6, ../../sass/_mixins.scss */
  .goalActions:after {
    clear: both; }

/* line 230, ../../sass/_base.scss */
.goalActionsList {
  clear: both;
  float: right; }

/* line 234, ../../sass/_base.scss */
.goalAction {
  float: left; }
  /* line 237, ../../sass/_base.scss */
  .goalAction > a {
    color: #666666;
    transition: color .2s ease-in-out; }
    /* line 241, ../../sass/_base.scss */
    .goalAction > a:hover, .goalAction > a:focus {
      color: #eeeeee; }

/* line 248, ../../sass/_base.scss */
.editMenu, .goalMenu {
  height: 0;
  opacity: 0;
  position: relative;
  top: -20px;
  transition: height 0.2s ease-in-out, opacity 0.3s ease-in-out, top 0.4s ease-in-out;
  overflow: hidden; }

/* line 257, ../../sass/_base.scss */
.focus .editMenu {
  height: 60px;
  opacity: 1;
  top: 0;
  transform: all .2s ease-in-out; }
/* line 262, ../../sass/_base.scss */
.focus .goalMenu {
  height: 0;
  opacity: 0;
  position: relative;
  top: -20px;
  transition: height 0.2s ease-in-out, opacity 0.3s ease-in-out, top 0.4s ease-in-out; }

/* line 268, ../../sass/_base.scss */
.current.goal .goalMenu, .goal:hover .goalMenu {
  height: 60px;
  opacity: 1;
  top: 0;
  transform: all .2s ease-in-out; }

/* line 273, ../../sass/_base.scss */
.goal.focus:hover .goalMenu, .current.goal.focus .goalMenu {
  height: 0;
  opacity: 0;
  position: relative;
  top: -20px;
  transition: height 0.2s ease-in-out, opacity 0.3s ease-in-out, top 0.4s ease-in-out; }

/* line 279, ../../sass/_base.scss */
.modalWrap {
  background: rgba(0, 0, 0, 0.7);
  height: 100%;
  left: 0;
  opacity: 1;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
  transition-delay: .1s;
  transition: opacity .3s ease-in-out;
  visibility: visible; }
  /* line 292, ../../sass/_base.scss */
  .modalWrap.hidden {
    opacity: 0;
    visibility: hidden; }
    /* line 296, ../../sass/_base.scss */
    .modalWrap.hidden .goalFormWrapper {
      top: -200px; }

/* line 301, ../../sass/_base.scss */
.goalFormWrapper {
  margin: 0 auto;
  position: relative;
  transition: top .3s ease-in-out;
  top: 0;
  max-width: 780px;
  visibility: visible;
  width: 100%; }

/* line 310, ../../sass/_base.scss */
.goal.form {
  box-shadow: none;
  margin-top: 0;
  padding: 40px 60px 20px 60px; }
  /* line 315, ../../sass/_base.scss */
  .goal.form .goalContent {
    border-color: #4d4d4d; }
    /* line 318, ../../sass/_base.scss */
    .goal.form .goalContent:hover {
      border-color: #616161; }
    /* line 322, ../../sass/_base.scss */
    .goal.form .goalContent:focus, .goal.form .goalContent:hover:focus {
      border-color: gray; }
